@{
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/plugins.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
@model RegisterModel
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3" style="background-image:url(../images/uploads/slider-bg.jpg)">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;font:menu;color:#5E6F74;background-color:#141823">
                        <div class="card-body p-5" style="border-radius: 15px;background-color:#141823">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form asp-controller="Profile" asp-action="Register" method="post">

                                <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="userAccountName" >User Account Name</label>
                                    <input style="background-color:#2C3440;color:white" type="text" asp-for="userAccountName" id="userAccountName" name="userAccountName" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="userEmail" >User Email</label>
                                    <input style="background-color:#2C3440;color:white" type="email" asp-for="userEmail" id="userEmail" name="userEmail" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="password" >Password</label>
                                    <input style="background-color:#2C3440;color:white" type="password" asp-for="password" id="password" name="password" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                                    <input style="background-color:#2C3440;color:white" type="password" asp-for="ConfirmPassword" id="ConfirmPassword" name="ConfirmPassword" class="form-control form-control-lg" />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                                               style="background-color:green;color:white;border-color:white;font-size:medium;font-weight:bolder">
                                        Register
                                    </button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a asp-controller="Profile" asp-action="Login"class="fw-bold text-body"><u style="color:lightblue">Login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #092f71, #081630);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #092f71, #081630);
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #092f71, #081630);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: #1c5fd2
    }
</style>